<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Button_mh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,164}}</string>
                <key>sourceSize</key>
                <string>{139,164}</string>
            </dict>
            <key>Button_xtrk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{117,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,118}}</string>
                <key>sourceSize</key>
                <string>{117,118}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{159,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,47}}</string>
                <key>sourceSize</key>
                <string>{159,47}</string>
            </dict>
            <key>button_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,264},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>jb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{95,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,31}}</string>
                <key>sourceSize</key>
                <string>{95,31}</string>
            </dict>
            <key>jb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,163},{99,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,35}}</string>
                <key>sourceSize</key>
                <string>{99,35}</string>
            </dict>
            <key>quan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,314},{109,108}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,18},{109,108}}</string>
                <key>sourceSize</key>
                <string>{139,144}</string>
            </dict>
            <key>quan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{139,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,144}}</string>
                <key>sourceSize</key>
                <string>{139,144}</string>
            </dict>
            <key>tx.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,163},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>yb.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,99},{61,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,47}}</string>
                <key>sourceSize</key>
                <string>{61,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{250,433}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a60c25a9e3e5229b78c4c4139a113e53$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
