<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Frame_tw.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,224},{30,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,21}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>Frame_tw2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{152,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,44}}</string>
                <key>sourceSize</key>
                <string>{152,44}</string>
            </dict>
            <key>Frame_tw3.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{152,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,44}}</string>
                <key>sourceSize</key>
                <string>{152,44}</string>
            </dict>
            <key>Word_cq1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,707},{58,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,27}}</string>
                <key>sourceSize</key>
                <string>{58,27}</string>
            </dict>
            <key>Word_cq2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,647},{58,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,27}}</string>
                <key>sourceSize</key>
                <string>{58,27}</string>
            </dict>
            <key>Word_lq.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,618},{58,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,27}}</string>
                <key>sourceSize</key>
                <string>{58,27}</string>
            </dict>
            <key>Word_zr1.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,558},{58,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,27}}</string>
                <key>sourceSize</key>
                <string>{58,27}</string>
            </dict>
            <key>Word_zr2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,558},{58,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,27}}</string>
                <key>sourceSize</key>
                <string>{58,27}</string>
            </dict>
            <key>Word_zr3.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,475},{55,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,31}}</string>
                <key>sourceSize</key>
                <string>{55,31}</string>
            </dict>
            <key>bz.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,508},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>bz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,156},{62,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,66}}</string>
                <key>sourceSize</key>
                <string>{62,66}</string>
            </dict>
            <key>bz_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,515},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>bz_wh.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,647},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{18,28}</string>
            </dict>
            <key>bz_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,776},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>cqbg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{263,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,33}}</string>
                <key>sourceSize</key>
                <string>{263,33}</string>
            </dict>
            <key>cqbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>cqt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{246,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,28}}</string>
                <key>sourceSize</key>
                <string>{246,28}</string>
            </dict>
            <key>cqt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,2},{242,24}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{242,24}}</string>
                <key>sourceSize</key>
                <string>{246,28}</string>
            </dict>
            <key>cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,224},{41,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{41,39}</string>
            </dict>
            <key>qi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,267},{105,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,86}}</string>
                <key>sourceSize</key>
                <string>{105,86}</string>
            </dict>
            <key>qi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,669},{105,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,86}}</string>
                <key>sourceSize</key>
                <string>{105,86}</string>
            </dict>
            <key>tai.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,374},{99,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,67}}</string>
                <key>sourceSize</key>
                <string>{99,67}</string>
            </dict>
            <key>xx.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,793},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>xx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,767},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>zr1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{68,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,24}}</string>
                <key>sourceSize</key>
                <string>{68,24}</string>
            </dict>
            <key>zr2.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,374},{69,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,24}}</string>
                <key>sourceSize</key>
                <string>{69,24}</string>
            </dict>
            <key>zr3.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,445},{68,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,24}}</string>
                <key>sourceSize</key>
                <string>{68,24}</string>
            </dict>
            <key>zrbg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{263,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,33}}</string>
                <key>sourceSize</key>
                <string>{263,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>front.png</string>
            <key>size</key>
            <string>{127,820}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:301231918abea7fbdc76a004609e0e5e$</string>
            <key>textureFileName</key>
            <string>front.png</string>
        </dict>
    </dict>
</plist>
