<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dj.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,462},{43,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,144}}</string>
                <key>sourceSize</key>
                <string>{43,144}</string>
            </dict>
            <key>gydk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,440},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>juesebg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,317},{28,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,12}}</string>
                <key>sourceSize</key>
                <string>{28,12}</string>
            </dict>
            <key>juesebg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,456},{27,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,34}}</string>
                <key>sourceSize</key>
                <string>{27,34}</string>
            </dict>
            <key>juesebg_10b.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,409},{27,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,34}}</string>
                <key>sourceSize</key>
                <string>{27,34}</string>
            </dict>
            <key>juesebg_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,482},{22,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,29}}</string>
                <key>sourceSize</key>
                <string>{22,29}</string>
            </dict>
            <key>juesebg_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,462},{45,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,32}}</string>
                <key>sourceSize</key>
                <string>{45,32}</string>
            </dict>
            <key>juesebg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,334},{125,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,56}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>juesebg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,392},{125,46}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{125,46}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>juesebg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,334},{245,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,64}}</string>
                <key>sourceSize</key>
                <string>{245,64}</string>
            </dict>
            <key>juesebg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,462},{121,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,45}}</string>
                <key>sourceSize</key>
                <string>{121,45}</string>
            </dict>
            <key>juesebg_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{121,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,45}}</string>
                <key>sourceSize</key>
                <string>{121,45}</string>
            </dict>
            <key>juesebg_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{445,405}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,405}}</string>
                <key>sourceSize</key>
                <string>{445,405}</string>
            </dict>
            <key>juesebg_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{393,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,51}}</string>
                <key>sourceSize</key>
                <string>{393,51}</string>
            </dict>
            <key>juesebg_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,400},{199,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,54}}</string>
                <key>sourceSize</key>
                <string>{199,54}</string>
            </dict>
            <key>pz_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,2},{284,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,81}}</string>
                <key>sourceSize</key>
                <string>{284,81}</string>
            </dict>
            <key>pz_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,251},{284,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,81}}</string>
                <key>sourceSize</key>
                <string>{284,81}</string>
            </dict>
            <key>pz_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,168},{284,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,81}}</string>
                <key>sourceSize</key>
                <string>{284,81}</string>
            </dict>
            <key>pz_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,85},{284,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,81}}</string>
                <key>sourceSize</key>
                <string>{284,81}</string>
            </dict>
            <key>pz_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{284,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,81}}</string>
                <key>sourceSize</key>
                <string>{284,81}</string>
            </dict>
            <key>suo.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,440},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>word_gj.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,482},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>word_gs.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,400},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>word_jycc.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,456},{89,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,24}}</string>
                <key>sourceSize</key>
                <string>{89,24}</string>
            </dict>
            <key>word_sj.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,288},{52,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,27}}</string>
                <key>sourceSize</key>
                <string>{52,27}</string>
            </dict>
            <key>word_sm.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,456},{45,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,24}}</string>
                <key>sourceSize</key>
                <string>{45,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero.png</string>
            <key>size</key>
            <string>{823,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72ce5a1fef297e9c8c5b753b66e87fed$</string>
            <key>textureFileName</key>
            <string>hero.png</string>
        </dict>
    </dict>
</plist>
